# --- Python 运行环境 ---
.venv/
venv/
env/
__pycache__/
*.pyc

# --- 打包产物 (PyInstaller) ---
output/
dist/
build/
*.exe
*.spec

# --- PyCharm/IDEA 配置文件 (建议忽略整个目录) ---
.idea/
*.iml
out/

# --- 系统临时文件 ---
Thumbs.db
.DS_Store

# --- 本地项目说明（如果不想传上去的话） ---
*.log